mainmenu "Configuration"

config ARCH
	bool "CPU ARCH"
choice
	prompt "select ARCH"
	depends on ARCH
	default X86

	config X86
	bool "CPU ARCH X86"

	config ARM
	bool "CPU ARCH ARM"

	config ARM64
	bool "CPU ARCH ARM64"

	config PPC
	bool "CPU ARCH PPC"

	config PPC64
	bool "CPU ARCH PPC64"

	config MIPS64
	bool "CPU ARCH MIPS64"
endchoice

config  DEBUG
bool    "Debug tool, Be related to print debug"
default  y
	config DEBUG_ENV
	bool "Open environment control"
	depends on DEBUG
	default n


config  FILE
bool    "File tool, Be related to file"
default  y

config  SEMAPHORE
bool    "Semaphore tool, Be related to system V sem function"
default  y

config	SHAREMEM
bool    "Share memory tool, Be related to system V share memory function"
default  y

config  THREADPOOL
bool    "Thread pool tool, Be related to thread pool"
default  y

config  SERIAL
bool    "serial port tool, Be related to serial port"
default  y

config  TIMER
bool    "time tool, Be related to time function"
default  y

config  SIGNAL
bool    "signal tool, Be related to signal function"
default  y

config	MATCH
bool    "match algo tool, Be related to match algo function"
default  y

config	HASHMAP
bool    "hash map"
default  y
select MD5
	config HASHMAP_MD5
	bool "MD5 digest, use MD5 digest compute hash value "
	depends on HASHMAP
	default y

config RING
bool	"ring, lock-free queue ring"
default y
